#app {
    .btn-secondary {
        background-color: var(--color-secondary);
        color: var(--color-white);

        &:hover {
            background-color: var(--color-secondary-light);
            box-shadow: 0 0 10px 10px;
        }
    }
}